@import './base.css';
@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-link: var(--link);

  --color-muted: var(--muted);
  --color-subtle: var(--subtle);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  /* Radius */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Text */
  /* "heading-1": ["2.5rem", { lineHeight: "3rem", letterSpacing: "0" }],
  "heading-2": ["2rem", { lineHeight: "2.5rem", letterSpacing: "0" }],
  "heading-3": ["1.75rem", { lineHeight: "2.25rem", letterSpacing: "0" }],
  "heading-4": ["1.5rem", { lineHeight: "2rem", letterSpacing: "0" }],
  "heading-5": ["1.25rem", { lineHeight: "1.75rem", letterSpacing: "0" }],
  "heading-6": ["1rem", { lineHeight: "1.5rem", letterSpacing: "0" }], */
  --text-heading-1: calc(var(--text-base) * 2);
  --text-heading-1--line-height: calc(var(--text-base) * 2.5);
  --text-heading-1--font-weight: 700;

  --text-heading-2: calc(var(--text-base) * 1.75);
  --text-heading-2--line-height: calc(var(--text-base) * 2);
  --text-heading-2--font-weight: 700;

  --text-heading-3: calc(var(--text-base) * 1.5);
  --text-heading-3--line-height: calc(var(--text-base) * 2);
  --text-heading-3--font-weight: 700;

  --text-heading: 1rem;
  --text-heading--line-height: 150%;
  --text-heading--font-weight: 700;

  --text-lg: calc(var(--text-base));
  --text-lg--line-height: var(--text-base--line-height);
  --text-lg--font-weight: var(--text-base--font-weight);

  --text-md: calc(var(--text-base) * 0.875);
  --text-md--line-height: var(--text-base--line-height);
  --text-md--font-weight: var(--text-base--font-weight);

  --text-sm: calc(var(--text-base) * 0.75);
  --text-sm--line-height: var(--text-base--line-height);
  --text-sm--font-weight: var(--text-base--font-weight);

  --text-xs: calc(var(--text-base) * 0.625);
  --text-xs--line-height: var(--text-base--line-height);
  --text-xs--font-weight: var(--text-base--font-weight);
}

:root {
  /* Text */
  --text-base: 1rem;
  --text-base--line-height: 150%;
  --text-base--font-weight: 400;

  /* Background light chroma hue */
  --bg-l: 0.98;
  --bg-c: 0.0041;
  --bg-h: 91.45;

  /* Foreground light chroma hue */
  --fg-l: 0.11;
  --fg-c: 0.0055;
  --fg-h: 286.04;

  /* Primary light chroma hue */
  /*
  --primary-bg-l: 0.7;
  --primary-bg-c: 0.1212;
  --primary-bg-h: 185.06;
  */
  /* #0044c2 - oklch(0.44 0.2074 260.34) */
  --primary-bg-l: 0.44;
  --primary-bg-c: 0.2074;
  --primary-bg-h: 266.34;

  /* Secondary light chroma hue */
  --secondary-bg-l: 0.968;
  --secondary-bg-c: 0.007;
  --secondary-bg-h: 247.896;

  /* Secondary foreground light chroma hue */
  --secondary-fg-l: var(--fg-l);
  --secondary-fg-c: var(--fg-c);
  --secondary-fg-h: var(--fg-h);

  /* Background */
  --background: oklch(var(--bg-l) var(--bg-c) var(--bg-h));
  --surface: oklch(calc(var(--bg-l) + 0.05) var(--bg-c) var(--bg-h));
  --foreground: oklch(var(--fg-l) var(--fg-c) var(--fg-h));

  /* Primary */
  --primary: oklch(var(--primary-bg-l) var(--primary-bg-c) var(--primary-bg-h));
  --primary-hover: oklch(calc(var(--primary-bg-l) + 0.05) var(--primary-bg-c) var(--primary-bg-h));
  --primary-foreground: #fff;
  /* oklch(0.22 0.0544 260.34) */
  --primary-dark: oklch(calc(var(--primary-bg-l) - var(--primary-bg-l)/2) calc(var(--primary-bg-c) / 4) var(--primary-bg-h));
  
  /* Secondary */
  --secondary: oklch(var(--secondary-bg-l) var(--secondary-bg-c) var(--secondary-bg-h));
  --secondary-hover: oklch(calc(var(--secondary-bg-l) + 0.05) var(--secondary-bg-c) var(--secondary-bg-h));
  --secondary-foreground: oklch(var(--secondary-fg-l) var(--secondary-fg-c) var(--secondary-fg-h));

  /* Muted */
  --muted: oklch(0.5 var(--fg-c) var(--fg-h));
  --subtle: oklch(0.75 var(--fg-c) var(--fg-h));

  /* Link */
  /* #005aa8 */
  --link: oklch(0.58 0.1453 253.23);

  /* Border */
  --border: oklch(calc(var(--bg-l) - 0.1) var(--bg-c) var(--bg-h));

  /* Input */
  --input: oklch(calc(var(--bg-l) + 0.1) var(--bg-c) var(--bg-h));

  /* Ring */
  --ring: #9792b2;

  /* Radius */
  --radius: 0.625rem;
}

.dark {
  /* Background light chroma hue */
  --bg-l: 0.11;
  --bg-c: 0.0055;
  --bg-h: 286.04;

  /* Foreground light chroma hue */
  --fg-l: 0.98;
  --fg-c: 0.0041;
  --fg-h: 91.45;

  /* Background */
  --surface: oklch(calc(var(--bg-l) + 0.05) calc(var(--bg-c) - 0.01) var(--bg-h));

  /* Muted */
  --muted: oklch(0.75 var(--fg-c) var(--fg-h));
  --subtle: oklch(0.5 var(--fg-c) var(--fg-h));

  /* Border */
  --border: oklch(calc(var(--bg-l) + 0.25) var(--bg-c) var(--bg-h));

  /* Input */
  --input: oklch(calc(var(--bg-l) + 0.05) calc(var(--bg-c) - 0.01) var(--bg-h));

  /* Link */
  /* #005aa8 */
  --link: oklch(0.47 0.1453 253.23);
}

@layer utilities {
  .input {
    @apply w-full bg-input border border-border transition-colors placeholder:text-subtle disabled:cursor-not-allowed disabled:border-border/75 disabled:bg-border/15;
  }
  .input-xs {
    @apply h-8 text-sm px-2 rounded gap-1;
  }
  .input-sm {
    @apply h-10 text-md px-4 rounded-sm gap-1;
  }
  .input-md {
    @apply h-11 text-md px-4 rounded-md gap-2;
  }
  .input-lg {
    @apply h-14 text-lg px-6 rounded-lg gap-2;
  }
}

@layer base {
  * {
    @apply bg-inherit border-border outline-ring focus-visible:outline-offset-4 focus-visible:outline-primary;
  }
  body {
    @apply bg-background text-foreground;
  }
  a {
    @apply text-link underline hover:no-underline;
  }
}
