   @tailwind base;
   @tailwind components;
   @tailwind utilities;

   @layer base {
  :root {
    --background: var(--gray-50);
    --foreground: var(--gray-950);
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 262 83% 67%;
    --primary-foreground: 0 0% 100%;
    --secondary: 166 45% 51%;
    --secondary-foreground: 0 0% 100%;
    --accent: 120 25% 28%;
    --accent-foreground: 0 0% 100%;
    --muted: var(--gray-200);
    --muted-foreground: 220 8.9% 46.1%;
    --radius: 0.5rem;
    /* NEUTRAL PALETTE */
    --neutral-50: hsl(256, 8%, 98%);
    --neutral-100: hsl(256, 8%, 95%);
    --neutral-200: hsl(256, 8%, 90%);
    --neutral-300: hsl(256, 8%, 80%);
    --neutral-400: hsl(256, 8%, 70%);
    --neutral-500: hsl(256, 8%, 60%);
    --neutral-600: hsl(256, 4%, 50%);
    --neutral-700: hsl(256, 4%, 38%);
    --neutral-800: hsl(256, 4%, 12%);
    --neutral-900: hsl(256, 4%, 6%);
    --neutral-950: hsl(256, 8%, 4%);
    /* --gray-50: #f6f5f4;
    --gray-100: #e9e8e6;
    --gray-200: #d4d2ce;
    --gray-300: #b3b0aa;
    --gray-400: #8c8883;
    --gray-500: #6f6b65;
    --gray-600: #565350;
    --gray-700: #454341;
    --gray-800: #373533;
    --gray-900: #2d2c2a;
    --gray-950: #1a1918; */
    --gray-50: var(--neutral-50);
    --gray-100: var(--neutral-100);
    --gray-200: var(--neutral-200);
    --gray-300: var(--neutral-300);
    --gray-400: var(--neutral-400);
    --gray-500: var(--neutral-500);
    --gray-600: var(--neutral-600);
    --gray-700: var(--neutral-700);
    --gray-800: var(--neutral-800);
    --gray-900: var(--neutral-900);
    --gray-950: var(--neutral-950);
  }

  /* Default heading styles */
  h1 {
    @apply text-heading-1 font-bold;
  }

  h2 {
    @apply text-heading-2 font-bold;
  }

  h3 {
    @apply text-heading-3 font-bold;
  }

  h4 {
    @apply text-heading-4 font-semibold;
  }

  h5 {
    @apply text-heading-5 font-semibold;
  }

  h6 {
    @apply text-heading-6 font-semibold;
  }

  a {
    @apply text-blue-500 hover:underline focus-outline focus-visible:rounded;
  }

  .focus-outline {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-secondary-500 focus-visible:ring-offset-2 focus-visible:ring-opacity-100 ring-offset-background;
  }

  .input {
    @apply w-full border transition-colors bg-gray-100 placeholder:text-neutral-700 disabled:cursor-not-allowed disabled:opacity-50;
  }

  .input-xs {
    @apply h-8 text-sm px-2 rounded gap-1;
  }

  .input-sm {
    @apply h-10 text-sm px-4 rounded-sm gap-1;
  }

  .input-md {
    @apply h-11 text-md px-4 rounded-md gap-2;
  }

  .input-lg {
    @apply h-14 text-lg px-6 rounded-lg gap-2;
  }

  .dropdown-menu {
    @apply flex flex-col bg-background text-foreground border border-gray-200 rounded-sm shadow-lg p-1 gap-1;
  }
  .dropdown-item {
    @apply flex gap-1 leading-5 items-center justify-start px-2 py-1 text-sm cursor-pointer outline-none rounded transition-colors hover:bg-gray-200 !text-foreground;
    @apply [&_a]:no-underline [&_a]:text-foreground [&_a]:flex [&_a]:items-start [&_a]:gap-1 [&_svg]:mt-0.5 [&_svg]:opacity-70
  }
  .dialog-overlay {
    @apply fixed inset-0 z-50 bg-neutral-900/50 backdrop-blur-sm;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --border: 215 27.9% 16.9%;
      --input: 215 27.9% 16.9%;
      --primary: 262 83% 67%;
      --primary-foreground: 0 0% 100%;
      --secondary: 166 45% 51%;
      --secondary-foreground: 0 0% 100%;
      /* --muted: var(--neutral-700); */
      --muted-foreground: 217.9 10.6% 64.9%;
      /* GRAY PALETTE */
      --gray-50: var(--neutral-950);
      --gray-100: var(--neutral-900);
      --gray-200: var(--neutral-800);
      --gray-300: var(--neutral-700);
      --gray-400: var(--neutral-600);
      --gray-500: var(--neutral-500);
      --gray-600: var(--neutral-400);
      --gray-700: var(--neutral-300);
      --gray-800: var(--neutral-200);
      --gray-900: var(--neutral-100);
      --gray-950: var(--neutral-50);
      /* --gray-50: #2d2c2a; /* Dark gray * /
      --gray-100: #373533;
      --gray-200: #454341;
      --gray-300: #565350;
      --gray-400: #6f6b65;
      --gray-500: #8c8883; /* Default gray * /
      --gray-600: #b3b0aa;
      --gray-700: #d4d2ce;
      --gray-800: #e9e8e6;
      --gray-900: #f6f5f4;
      --gray-950: #ffffff; Lightest gray */
    }
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-sans;
}